<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="container">
      <button type="button" onclick="signup()">회원가입</button><br />
      <button type="button" onclick="signin()">로그인</button><br />
    </div>
    <script>
      const token = localStorage.getItem("id");
      const container = document.getElementById("container");

      if (token != null) {
        var button = document.createElement("input");
        button.type = "button";
        button.value = "회원정보";
        button.onclick = function viewInfo() {
          location.href = "/viewInfo";
        };
      }

      container.appendChild(button);

      function signup() {
        location.href = "/signup";
      }

      function signin() {
        location.href = "/signin";
      }
    </script>
  </body>
</html>
