<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form name="login">
      <input type="text" id="userid" placeholder="아이디" />
      <br />
      <input type="password" id="pw" placeholder="비밀번호" />
      <br />
      <button type="button" onclick="signin()">로그인</button><br />
    </form>
    <script>
      function signin() {
        const form = document.forms["login"];

        const data = {
          id: form.userid.value,
          password: form.pw.value,
        };

        console.log(data);

        axios({
          method: "POST",
          url: "/login",
          data,
        }).then((res) => {
          console.log(res);
        });
      }
    </script>
  </body>
</html>
