<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>동적 파일 업로드</h1>
    <input type="file" name="userfile" id="userfile" /><br />
    <input type="text" name="title" id="title" /><br />
    <button type="submit" onclick="fileUpload()">업로드</button><br />
    <img src="" width="200" />
    <script>
      async function fileUpload() {
        // FormData : form 태그의 데이터를 동적으로 제어할 수 있는 기능
        const formData = new FormData();
        formData.append("img", document.getElementById("userfile").files[0]);
        formData.append("title", document.getElementById("title").value);

        const res = await axios({
          method: "POST",
          url: "/axios",
          data: formData,
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });

        console.log(res);

        document.querySelector("img").src = res.data;
      }
    </script>
  </body>
</html>
