<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="http://localhost:8000/public/worm.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="parent">
      <div class="circle circle1"></div>
      <div class="circle circle2"></div>
      <div class="grass">
        <img
          src="http://localhost:8000/public/pngwing.com.png"
          style="width: 350px; height: 100px"
        />
      </div>
      <div class="circle circle3"></div>
      <div class="circle circle4"></div>
      <div class="black"></div>
      <div class="white"></div>
      <div class="circle circle5"></div>
    </div>
  </body>
</html>
