<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="http://localhost:8000/test1">도메인1</a>
    <a href="http://localhost:8000/test2">도메인2</a>
    <a href="http://localhost:8000/test3">도메인3</a>
  </body>
</html>
