<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul></ul>
    <form id="chat">
      <input type="text" id="user" /><br />
      <input type="text" id="message" /><br />
      <button>채팅</button>
    </form>
    <script>
      const socket = new WebSocket("ws://localhost:8000");
      // form 가져오기
      const chatForm = document.querySelector("#chat");

      // ul 가져오기
      const ul = document.querySelector("ul");

      // 서버에 연결
      socket.addEventListener("open", (event) => {
        // socket.send("Hello server!");
        console.log("서버에 연결되었습니다.");
      });

      // 메시지 주고받음
      socket.addEventListener("message", (event) => {
        // console.log(event);
        // console.log(`서버로부터 받은 메시지: ${event.data}`);
        const li = document.createElement("li");
        li.textContent = event.data;
        ul.appendChild(li);
      });

      // 오류 발생
      socket.addEventListener("error", (event) => {
        console.log("에러가 발생했습니다.", event.error);
      });

      // 종료
      socket.addEventListener("close", (event) => {
        console.log("서버와 연결이 종료되었습니다.");
      });

      /////// form 이벤트 ///////
      chatForm.addEventListener("submit", () => {
        // submit 이벤트는 항상 preventDefault() 필요
        event.preventDefault();
        const msg = chatForm.querySelector("#message");
        const user = chatForm.querySelector("#user");
        socket.send(JSON.stringify({ user: user.value, msg: msg.value }));
        msg.value = "";
      });
    </script>
  </body>
</html>
